/* Main (sans-serif) font */
/* --------------------------------------------------- */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1.1em;
  /* --------------------------------------------------- */
  background-color: #212529;
  color: #f8f9fa;
  margin: 0;
  line-height: 1.2em;
}

h1, h2 {
  line-height: 1.1em;
}

nav {
  background-color: #343a40;
  color: #e9ecef;
  display: flex;
  position: fixed;
  overflow: hidden;
  top: 0;
  width: 100%;
  z-index: 1;
}

nav ul {
  display: flex;
  width: calc(100% - 1rem);
  list-style-type: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: .5rem;
  padding: 0;
}

nav ul#dropdown {
  /* display: none; */
  flex-direction: column;
  margin: 0;
  width: 100%;
  transition: .4s ease-out;
  max-height: 0;
}

nav ul li {
  background-color: transparent;
  flex: 1 1 auto;
  transition: .4s;
}

nav ul li:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

nav a {
  color: inherit;
  text-decoration: inherit;
  display: block;
  padding: 1rem;
}

img, iframe {
  max-width: 80%;
  padding: 2% 10%;
}

img.monochrome-inv, iframe.monochrome-inv {
  filter: invert(100%);
}

img.fleft, iframe.fleft {
  float: left;
}

img.fright, iframe.fright {
  float: right;
}

blockquote {
  border-left: 3px solid;
  padding: 4px 12px;
  margin: 16px 22px;
  background: #343a40;
}

blockquote > p {
  margin: 8px 0;
}

a {
  font-weight: normal;
  color: inherit;
  text-decoration-color: #57b9ff;
  -webkit-text-decoration-color: #57b9ff;
}

code {
  font-size: larger;
}

mark {
  color: inherit;
  background: inherit;
  text-decoration: underline;
}

.handheld {
  display: none;
}

/* CSS menu */
#menu-btn {
  display: none;
}

#menu-icon {
  padding: 1rem;
  cursor: pointer;
  font-size: 1.5rem;
}

#menu-btn:checked ~ ~ #dropdown {
  max-height: 200px;
}

/* -------------------------------------- */
@media screen and (max-width: 599px) {
  .handheld {
    display: block;
  }
  .desktop {
    display: none;
  }
}

.main {
  margin: 10px auto;
  max-width: 90%;
  width: 920px;
}

.main a {
  font-weight: bold;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 0 16px;
  /* .catalog div:first-child { flex: 1 1 600px; } */
}

.catalog a.block {
  flex: 1 1 400px;
  max-width: calc(100% - 10px - 2px - 6px);
  margin: 5px;
  border: solid #f8f9fa;
  border-width: 1px 1px 4px;
  padding: 2px 12px 10px;
}

div.menu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background: #111;
  padding: 1rem 0;
}

div.menu * {
  color: #e9ecef;
  flex: 1 auto;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
}

div.menu *.unset {
  opacity: .6;
}

div.footer {
  display: block;
  text-align: center;
}

div.footer img {
  width: 160px;
  max-width: 90%;
}

div.footer a {
  color: inherit;
  text-decoration: inherit;
  font-size: 1.5rem;
  font-weight: inherit;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Printer */
@media print {
  nav, div.footer {
    display: none;
  }
  .main {
    margin: auto 10px;
  }
  .main a {
    text-decoration: none;
  }
}
